<!DOCTYPE html>
<html>
<head>
  <title>My_Stackoverflow</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/header' %>
<div class="content">
  <%= bootstrap_flash %>
  <div class="rov">
    <div class="col-lg-8">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
